<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= link_to "Ruby on Rails", "https://www.railstutorial.org/" %> <%= t ".is_a" %>
  <%= link_to t(".book"), "https://www.railstutorial.org/book" %>,
  <%= link_to "screencast series", "http://screencasts.railstutorial.org/" %>
  <%= t ".to_teach" %>
  <%= link_to t(".ruby"), "http://rubyonrails.org/" %>
</p>
